{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <div class="container col-md-10" >
        <table class="table-sm table-bordered table-hover" align ="center" style="text-align: center;background-color: #8395a7;">
            <tr>
                <th>feature</th>
                <th>Kills</th>
                <th>Minions</th>
                <th>goldEarned</th>
                <th>first_blood</th>
                <th>first_tower</th>
                <th>first_inhibitor</th>
                <th>first_baron</th>
                <th>first_dragon</th>
                <th>first_RiftHerald</th>
                <th>t1_tower</th>
                <th>t1_inhibitor</th>
                <th>t1_baron</th>
                <th>t1_dragon</th>
                <th>Issue</th>
            </tr>
            {% for team in teams %}
                <tr>
                    <th>value team{{ loop.index }}</th>
                    <td>
                        {% if team.teamId==100 %}
                            {{ killsParticipantsTeam1 }}
                        {% else %}
                            {{ killsParticipantsTeam2 }}
                        {% endif %}
                    </td>
                    <td>
                        {% if team.teamId==100 %}
                            {{ totalMinionsKilledParticipantsTeam1 }}
                        {% else %}
                            {{ totalMinionsKilledParticipantsTeam2 }}
                        {% endif %}
                    </td>
                    <td>
                        {% if team.teamId==100 %}
                            {{ goldEarnedParticipantsTeam1 }}
                        {% else %}
                            {{ goldEarnedParticipantsTeam2 }}
                        {% endif %}
                    </td>
                    <td>
                        {% if team.firstBlood==false %}
                            0
                        {% else %}
                            {{ team.firstBlood }}
                        {% endif %}
                    </td>
                    <td>
                        {% if team.firstTower==false %}
                            0
                        {% else %}
                            {{ team.firstTower }}
                        {% endif %}
                    </td>
                    <td>
                        {% if team.firstInhibitor==false %}
                            0
                        {% else %}
                            {{ team.firstInhibitor }}
                        {% endif %}
                    </td>
                    <td>
                        {% if team.firstBaron==false %}
                            0
                        {% else %}
                            {{ team.firstBaron }}
                        {% endif %}
                    </td>
                    <td>
                        {% if team.firstDragon==false %}
                            0
                        {% else %}
                            {{ team.firstDragon }}
                        {% endif %}
                    </td>
                    <td>
                        {% if team.firstRiftHerald==false %}
                            0
                        {% else %}
                            {{ team.firstRiftHerald }}
                        {% endif %}
                    </td>
                    <td>{{ team.towerKills }}</td>
                    <td>{{ team.inhibitorKills }}</td>
                    <td>{{ team.baronKills }}</td>
                    <td>{{ team.dragonKills }}</td>
                    <td>
                        {% if team.win=="Win" %}
                            Win
                        {% else %}
                            Loose
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

        </table>
        <div class="row" style="margin: 10px;">

            {% for participant in participants %}
                {% if loop.index<=5 %}
                    <div class="card" style="width: 18rem;margin-right: 15px;">
                        <div class="card-header" style="background-color: #34495e">
                            Equipe 1
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for participantsIdentitie in participantsIdentities %}
                                {% if participant.participantId==participantsIdentitie.participantId %}
                                      <li class="list-group-item">{{ participantsIdentitie.player.summonerName }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        <br>
        <div class="row" style="margin-left: 10px;">

            {% for participant in participants %}
                {% if loop.index>5 %}

                    <div class="card" style="width: 18rem;margin-right: 15px;">
                        <div class="card-header" style="background-color: #c0392b">
                            Equipe 2
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for participantsIdentitie in participantsIdentities %}
                                {% if participant.participantId==participantsIdentitie.participantId %}
                                    <li class="list-group-item">{{ participantsIdentitie.player.summonerName }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}