{% extends 'base.html.twig' %}
{% block body %}

    <form method="post" action="detail_match_time.php" style="text-align: center;margin-top: 30px">

        <input type="text"  name="pseudo">
        <input type="submit" value="Rechercher">

    </form>
    <br>
    <br>
    <div class="form-group col-md-12 " style="text-align: center">
        <table class="table-sm table-bordered table-hover" style="margin: auto">
            <tr>
                <th>Rechercher un match à l'aide d'un nom d'invocateur</th></tr>
        </table>
    </div>
{% endblock %}